.card {
  width: 300px;
  margin-right: 25px;
  margin-bottom: 15px;

}

.mat-card-header .mat-card-title {
  margin-bottom: 0px!important;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

}

.card-img{
  width:75px;
  height: auto;

}

.content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
