.example-spacer {
  flex: 1 1 auto;
}
.toolbar{
  border-bottom: 1px solid black;
}

.content{
  width:100%;
  display:flex;
  flex-direction: row;
}
.left{
  padding: 10px;
  width: 33%;
}
.center{
  padding: 10px;
  width:33%;
  border-left: 1px solid grey;
}
.right{
  width: 33%;
  padding: 10px;
  height: 100vh;
  border-left: 1px solid rgb(155, 150, 150);
}

.yellow{
  background-color: rgb(86, 88, 91);
}



